---
---

@import "{{ site.theme }}";

@font-face {
    font-family: 'Fredericka the Great';
    src: url('../fonts/FrederickatheGreat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
   background: #333;
   h1 {
      font: 40px/48px 'Fredericka the Great', "Helvetica Neue", Helvetica, Arial, sans-serif;
   }
   p {
      font: 18px 'Fredericka the Great', "Helvetica Neue", Helvetica, Arial, sans-serif;
   }
}
